.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-fab-custom {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

.medicalquery-card {
  margin: 2% auto;
  width: 35%;
}

.error {
  margin-top: 10px;
  color: red;
}
