<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Medical Query ({{email}})</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button>
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button (click)="logOut()">
        <mat-icon>keyboard_tab</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="medicalquery-card">
    <mat-card-header>
      <mat-card-title>Medical Query - {{data.name}}</mat-card-title>
      <mat-card-subtitle>
          <span *ngFor="let tag of data.tags">
            {{'#' + tag + " "}}
          </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Description:</b> {{data.description}}
      </p>
      <p>
        <b>Financial Offering:</b> {{data.financialOffering}} €
      </p>
      <p>
        <b>Age:</b> {{data.minAge}} - {{data.maxAge}}
      </p>
      <p>
        <b>Gender:</b> {{data.gender}}
      </p>
    </mat-card-content>
  </mat-card>
  <button mat-fab color="primary" class="mat-fab-custom" (click)="scroll(newItem)">
    <mat-icon>add</mat-icon>
  </button>
</div>
