<div #header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Shared Health Data ({{email}})</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="logOut()">
        <mat-icon>keyboard_tab</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-card class="healthdata-card" *ngIf="sharedData.length === 0">
  <mat-card-header>
    <div class="no-content-card">No shared data to show</div>
  </mat-card-header>
</mat-card>

<div *ngFor="let data of sharedData">
  <mat-card class="userinfo-card">
    <mat-card-header>
      <mat-card-title><h3>{{data.userId}}</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{data.birthday}} - {{data.gender}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="healthdata-card" *ngIf="data.medicalInformation.length === 0">
    <mat-card-header>
      <div class="no-content-card">No shared data to show</div>
    </mat-card-header>
  </mat-card>

  <mat-card class="healthdata-card" *ngFor="let healthData of data.medicalInformation">
    <mat-card-header>
      <mat-card-title><h3>{{healthData.title}}</h3></mat-card-title>
      <mat-card-subtitle>
          <span *ngFor="let tag of healthData.tags">
            {{'#' + tag + " "}}
          </span>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{healthData.image}} *ngIf="healthData.image">
    <mat-card-content *ngIf="healthData.description">
      <p>
        {{healthData.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

<button class="trick-button" (click)="scroll(header)" id="trickButton"></button>
