<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button routerLink="/">Web Application Engineering and Content Management</button>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/login">{{ "register.login-button-text" | translate }}</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div>
    <mat-card class="register-card">
      <mat-card-header>
        <mat-card-title>
          <h2>
            {{ "register.card-title" | translate }}
          </h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="onSubmit()" [formGroup]="registerForm">
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput formControlName="email" required>
                  <mat-placeholder>
                    {{ "register.e-mail-placeholder" | translate }}
                  </mat-placeholder>
                </mat-form-field>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                  <div *ngIf="email.errors.email">
                    {{ "register.e-mail-error" | translate }}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput type="password" formControlName="password" required>
                  <mat-placeholder>
                    {{ "register.password-placeholder" | translate }}
                  </mat-placeholder>
                </mat-form-field>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                  <div *ngIf="password.errors.minlength">
                    {{ "register.password-length-error" | translate }}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                  <div *ngIf="name.errors.minlength">
                    {{ "register.name-length-error" | translate }}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-select formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                      {{ gender.i18n | translate }}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>
                    {{ "register.gender-placeholder" | translate }}
                  </mat-placeholder>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker" formControlName="birthday" readonly required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-placeholder>
                    {{ "register.birthday-placeholder" | translate }}
                  </mat-placeholder>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <button mat-raised-button color="primary" type="submit" [disabled]="registering">
            {{ "register.submit-button-text" | translate }}
          </button>
          <div *ngIf="error" class="error">
            {{ "register.register-error" | translate }}
          </div>
          <div *ngIf="registering">
            <p>Registering</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
